<html>
<head>
	<title>Admin Home</title>
</head>
<body>
	<h2>Admin Home</h2>


	<form method="post">
		<table>
			<tr>
				<td>Fullname : <%= user.fullname %></td>
			</tr>
			<tr>
				<td>UserName : <%= user.username %></td>
			</tr>
			<tr>
				<td>Password : <%= user.password %></td>
			</tr>
			<tr>
				<td>Phone no : <%= user.contactno %></td>
			</tr>
			<tr>
				<td>Type : <%= user.type %></td>
			</tr>
			<tr>
				<td><a href="adminHome/addProduct"> Add Product</a></td>
			</tr>				
		</table>
		
		
	</form>
	<a href="/logout"> Logout</a> 
</body>
</form>